.centerScreen-cash{
    position: relative;
    width: 60%;
    height: 100%;
}

.test{
    background-color: black;
    width: 200px;
    height: 100px;
    position: absolute;
}

.centerScreenContainers-cash{
    width: 100%;
    height: 100%;
    background-color: #748D92;
    border: 1px solid black;
}

.previousOrdersTitle-cash{
    text-align: center;
    font-size: 200%;
    width:100%;
    height: 7.7%;
    padding: 5% 4% 2%;
}

.centerScreenContainers-cash .previousOrdersDisplayBox-cash{
    margin: 5%;
    border: 1px solid black;
    height: 83%;
    width: 90%;
    display: block;
    overflow-y: auto;
}

.alternateOrderBtn-cash{
    width: 100%;
    height: 10%;
}

.paymentButtons-cash{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 20%;
    padding-left: 15%;
}

.card{
    width: 30%;
    height: 40%;
    background-color: orange;
    border: 1px solid black;
}

.cash{
    width: 30%;
    height: 40%;
    background-color: green;
    border: 1px solid black;
}

.managerOptionsContainer-cash{
    width: 100%;
    height: 30%;
    align-items: center;
    padding-top: 4%;
    padding-left: 15%
}

.managerOptions-cash{
    width: 80%;
    height: 70%;
    background-color:#748D92;
    border: 1px solid black;
}

.tempBtn{
    width: 50px;
    height: 50px;
    /*position: absolute;*/
}

/* General container styles */
.number-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #748D92;
}

/* Styling for the input field */
.input-field {
    margin-bottom: 20px;
    color: white;
}

.number-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: black;
    color: red;
}

/* Grid layout for the number buttons */
.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for buttons */
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.button-grid button:nth-child(10) { grid-area: 4 / 2; } /* This is for 0 */

/* Style for the number buttons */
.number-button {
    padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #748D92;
    transition: background-color 0.2s;
}

.number-button:hover {
    background-color: #e0e0e0;
}

/* Style for the clear button */
.clear-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-button:hover {
    background-color: #ff3333;
}
