.centerScreen-cash{
    position: relative;
    width: 60%;
    height: 100%;
}

.test{
    background-color: black;
    width: 200px;
    height: 100px;
    position: absolute;
}

.centerScreenContainers-cash{
    width:100%;
    height: 100%;
}

.previousOrdersTitle-cash{
    text-align: center;
    font-size: 200%;
    width:100%;
    height: 7.7%;
    padding: 5% 4% 2%;
}

.centerScreenContainers-cash .previousOrdersDisplayBox-cash{
    margin: 5%;
    border: 1px solid black;
    height: 83%;
    width: 90%;
    display: block;
    overflow-y: auto;
}

.alternateOrderBtn-cash{
    width: 100%;
    height: 10%;
}

.paymentButtons-cash{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 20%;
    padding-left: 15%;
}

.card{
    width: 30%;
    height: 40%;
    background-color: orange;
    border: 1px solid black;
}

.cash{
    width: 30%;
    height: 40%;
    background-color: green;
    border: 1px solid black;
}

.managerOptionsContainer-cash{
    width: 100%;
    height: 30%;
    align-items: center;
    padding-top: 4%;
    padding-left: 15%
}

.managerOptions-cash{
    width: 80%;
    height: 70%;
    background-color:#748D92;
    border: 1px solid black;
}