.menuSquare{
    width: 100%;
    height: 92.3%;
    position: relative;
    /*background-color: white; !* Delete later *!*/
    border-right: 1px solid #000;
}

.action-button{
    background-color: white;
    opacity: 48%;
    border: 1px solid black;
    color: black;
    width: 20%;
    height: 25%;
    margin: 2.5%;
}

.action-button:hover{
    background-color: #5E5E5E;
}

.seasonal{
    /*display: flex;*/
    flex-wrap: wrap;
    padding: 3% 5% 5%;
    height: 100%;
    overflow-y: auto;
}

.menuBox{
    /*display: flex;*/
    flex-wrap: wrap;
    padding: 3% 5% 5%;
    height: 100%;
    overflow-y: auto;
}

.drinks{
    /*display: flex;*/
    flex-wrap: wrap;
    padding: 3% 5% 5%;
    height: 100%;
    overflow-y: auto;
}