.topPane{
    position: relative;
    width: 100%;
    height: 7.7%;
    border: 2px solid black;
}

.topPane button{
    font-size: 25px;
}

.drinksBtn{
    position: relative;
    width: 25%;
    height: 100%;
    background-color:#C8E8F5;
    border-color: transparent;
    /*border-bottom: 2px solid black;*/
    color: black;
}

.mainMenuBtn{
    position: relative;
    width: 50%;
    height: 100%;
    background-color:#9EDDF7;
    border-color: transparent;
    /*border-bottom: 2px solid black;*/
    color: black;
}

.seasonalBtn{
    position: relative;
    width: 25%;
    height: 100%;
    background-color:#C8E8F5;
    border-color: transparent;
    /*border-bottom: 2px solid black;*/
    color: black;
}