.cashierScreen {
    /*display: flex;*/
    height: 100vh; /* Full height of the viewport */
    width: 100vw;
    background-color: #124E66;
}

/* For hiding scroll bars */
.scrollable-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

/* For Firefox */
.scrollable-container {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.logout-options{
    width: 100%;
    height: 90%;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-option{
    width: 30%;
    height: 50%;
    font-size: 300%;
}

.logout{
    background-color: darkred;
}

.manager{
    background-color: #124E66;
}