.doubleScreen{
    display:flex;
}
/* Fixed container for the whole application add comment*/
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-container_M {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Prevents overflow outside the fixed dimensions */
}