.doubleScreen{
    display:flex;
}
/* Fixed container for the whole application */
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-container {
    display: flex;
    flex-direction: row;
    width: 100%;    /* Fixed width */
    height: 100%;    /* Fixed height */
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Prevents overflow outside the fixed dimensions */
}