.managerRoot {
    display: flex;
    flex-direction: column;
    width: 100vw;         /* Takes remaining width after sidebar */
    height: 100vh;        /* Full height of fixed container */
    background: #124e66;
    color: black;
}

.main-content {
    flex: 1;             /* Expands within available space */
    overflow-y: auto;    /* Enables vertical scrolling if content exceeds height */
    padding: 20px;
    box-sizing: border-box;
    text-color: black;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #748d92;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: hidden;
}

.data-table th, .data-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 0.9em;
}

.data-table th {
    background-color: black;
    color: white;
    font-weight: bold;
}

.data-table td {
    background-color: white;
}

.data-table tbody tr:hover {
    background-color: #f9f9f9;
}

.data-table .invButton_M {
    background: none;
    border: none;
    margin-left:auto;
    margin-right:auto;
    color: black;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 80%;
}
.data-table .invButton_M:hover {
    background-color: #34495e;
}

.main-content .add-button {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    text-align: center;
}
.add-button button {
    padding: 10px 20px;
    width: 20%;
    height: 20%;
    cursor: pointer;
    box-sizing: border-box;
}

.add-button button:hover {
    background-color: #34495e;
}

.stats-btn button {
    all: unset; /* Reset all default styles */
    background-color: #748D92; /* Desired background */
    color: white; /* Text color */
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none; /* Remove borders */
    box-shadow: none; /* Remove shadows */
}

.stats-btn button:hover {
    background-color: #34495e;
}

.stats-btn .statsH3{
    margin-top: 15px;
}


.main-content .clockBox {
    margin-top: 10px;
    display: inline-flex;
}
.main-content .Clock {
    margin-top: 3.5px;
    margin-left: 10px;
}
.main-content .Header-Clock{
    display: flex;
    justify-content: space-between;

}